+++
title = "Nerdfest"
linkTitle = "Nerdfest"

+++

{{< blocks/cover title="Welcome to Nerdfest!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/prgamatic-complexity/nerdfest-docs">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Random things discussed as a service!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
A bunch of people on nerdfest wanted somewhere to use as a reference site. to store links and guides and such. This is the demo side of it.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/prgamatic-complexity/nerdfest-docs" %}}
We do a [Pull Request](https://github.com/prgamatic-complexity/nerdfest-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}

